.abt-wrapper{
  display:flex; 
  width: 100%;
  height:auto;
  /* padding-bottom: 50px; */
  vertical-align:center;
}
.about {
  width:50%;
  float: center; 
  color: white;
  height: 100%;
  padding-left: 30px;
  padding-top: 100px;
  margin: 30px;
  
}

.about h1 {
  border-color: antiquewhite;
  float: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 15vh;
}

.about-me{
  flex: 50%;
  padding-top: 5px;
  font-size: 3vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  float:left;
  text-align: left;
  justify-content: center;
}

.about-me-img{
  flex: 15%; 
  align-items: right;
  padding:150px;
  background-color: white;
}

.about-me-img img{
  
  vertical-align: bottom;
  width: 60vh; 
  height: 90vh;
}



