html, body {
  margin:0;
  height: 100vh;
  padding: 0;
  overflow-x: hidden;
  
  background-color: #d9e4dc;
}

.topnav {
  width: 100%;
  background-color:#134f5cff;
  overflow: hidden;
  display: inline-block;
}

.title-nav a{
  float:left;
  padding-left:50px; 
  padding-top:7px; 
  width: 60px;
  height:70px; 
}

.main-nav{
  float:right;
  padding-top: 15px;
  padding-right:10px; 
}

.main-nav a {
  padding-right: 15px; 
  padding-left: 14px;
  padding-top: 5px;
  padding-bottom: 5px; 
  float: left;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: white;
  text-align: center;
  border-color: white;
  border: 5px soild black;
  text-decoration: none;
  font-size: 17px;
}

.main-nav a:hover {
  background-color: #134f5c;
  color: white;
  border-radius: 50px; 
}

.main-nav a.active {
  background-color: #134f5c;
  color: white;
}



.home {
  text-align:center;
  width: 100%;
  height:auto;
  box-sizing:border-box;
  vertical-align: auto;
}

.img-wrapper{
  width: 100%;
  height:70vh;
  background-image: url("img/home-bkg (1).svg");
  background-repeat: no-repeat;
  background-position: top; 
  background-size: cover; 
}

.home h1 {
  text-align: center;
  color: black;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 55px;
  padding-top: 80px;
}

.home p{
  font-family: Georgia,Utopia,Charter,serif;
  line-height: 1.5;
  color: black; 
  font-size: 20px; 
  
}

.button{
  background-color: #2f6796; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.bottom-bar{
  font-size: 35px;
  padding:25px;
  margin-top:5px;
  background-color: rgb(38, 130, 148);
  color:white;
}

.bottom-bar a{
  color:white;
  text-decoration: none;

}



.intro {
  font-size: 20px;
  color: rgb(112, 106, 106);
  font-weight: bold;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, sans-serif;
}

.intro p{
  text-decoration: none;
}

.slider {
  height: 30px;
  padding-left: 5px;
  overflow: hidden;
}

.slider div {
  height: 30px;
  margin-bottom: 10px;
  padding: 2px 5px;
  text-align: left;
}

.slider-t1 {
  color: #134f5c;
  animation: slide 7s linear infinite;
}

.slider-t2 {
  color: #446fa7;
}

.slider-t3 {
  color: #1e89a1;
}

.slider-t4 {
  color: #2a4c94;
}

.slider-t5 {
  color: #26aa68;
}

@keyframes slide {
  0% {margin-top: -205px;}
  10% {margin-top: -180px;}
  20% {margin-top: -180px;}
  30% {margin-top: -135px;}
  40% {margin-top: -135px;}
  50% {margin-top: -90px;}
  60% {margin-top: -90px;}
  70% {margin-top: -45px;}
  80% {margin-top: -45px;}
  90% {margin-top: 0px;}
  100% {margin-top: 0px;}
}


