html, body {
  margin:0;
  height: 100vh;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  
  background-color: #d9e4dc;
}

.topnav {
  width: 100%;
  /* background-color:#134f5cff; */
  overflow: hidden;
  display: inline-block;
}

.title-nav a{
  float:left;
  padding-left:50px; 
  padding-top:7px; 
}

.main-nav{
  float:right;
  padding-top: 15px;
  padding-right:10px; 
}

.main-nav a {
  padding-right: 15px; 
  padding-left: 14px;
  padding-top: 5px;
  padding-bottom: 5px; 
  float: left;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #134f5c;
  text-align: center;
  border-color: white;
  border: 5px soild black;
  text-decoration: none;
  font-size: 17px;
}

.main-nav a:hover {
  background-color: #134f5c;
  color: white;
  border-radius: 50px; 
}

.main-nav a.active {
  background-color: #134f5c;
  color: white;
}

.home {
  text-align:center;
  width: 100%;
  height:100%;
  box-sizing:border-box;
  vertical-align: center;
}

/* .img-wrapper{
  width: 100%;
  height:100vh;
  background-image: url("img/home-bkg (1).svg");
  background-repeat: no-repeat;
  background-position: top; 
  background-size: cover; 
} */

.home h1 {
  text-align: center;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: calc(5vw);
  padding-top: calc(10% + 50px);
}

.home p{
  font-family: Georgia,Utopia,Charter,serif;
  line-height: 1.5;
  color: black; 
  font-size: 25vh; 
}

.intro {
  font-size: 20px;
  color: rgb(112, 106, 106);
  font-weight: bold;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, sans-serif;
}

.intro p{
  text-decoration: none;
}

.slider {
  height: 30px;
  padding-left: 10px;
  overflow: hidden;
}

.slider div {
  height: 30px;
  margin-bottom: 10px;
  padding: 2px 5px;
  text-align: left;
}

.slider-t1 {
  color: #134f5c;
  animation: slide 7s linear infinite;
}

.slider-t2 {
  color: #446fa7;
}

.slider-t3 {
  color: #1e89a1;
}

.slider-t4 {
  color: #2a4c94;
}

.slider-t5 {
  color: #26aa68;
}

@keyframes slide {
  0% {margin-top: -200px;}
  10% {margin-top: -162px;}
  20% {margin-top: -162px;}
  30% {margin-top: -122px;}
  40% {margin-top: -122px;}
  50% {margin-top: -82px;}
  60% {margin-top: -82px;}
  70% {margin-top: -42px;}
  80% {margin-top: -42px;}
  90% {margin-top: -2px;}
  100% {margin-top: -2px;}
}


