.abt-wrapper{
  display:flex; 
  width: 100%;
  height:auto;
  display:flex;;
  flex-wrap: wrap;
  position: relative;
}
.about {
  width:48%;
  float: center; 
  color: white;
  height: 100%;
  padding: calc(4vw);
  margin: 30px;
  position: absolute;
  
  animation-name:textFloatIn;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

.about h1 {
  float: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: calc(10vw);
}

.about-me{
  flex: 50%;
  font-size: calc(1.5vw);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  float:left;
  text-align: left;
  justify-content: center;
}

.about-me-img{
  flex: 15%; 
  align-items: right;
  padding:150px;
  background-color: white;
}

.about-me-img img{
  
  vertical-align: bottom;
  width: 60vh; 
  height: 90vh;
}

@keyframes textFloatIn {
  0%{
    opacity: 0%;
    margin-left:-50px;
  }
  100%{
    opacity: 100%;
    margin-left:30px;
  }
}



