.projects {
  text-align: center;
  
  height: auto; 
  width: 100%;
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 10px;
  float: center;
  align-content: space-between; 
  background-color: #4a6b7c;
}

.projects h1 {
  color: white;
  float: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 80px;
  margin-bottom: 1px;
}

.projects h4 {
  color: white;
}

.projects p {
  padding-top: 20px;
  font-size: 17px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

.row{
  display: flex;
  flex-wrap: wrap; 
  padding: 30px; 
}

.column{
  flex:15%;
  padding: 10px;
}

.column img{
  margin-top: 8px; 
  vertical-align: middle;
  padding-bottom:20px;
  height: auto;
}

.column h3{
  font-size: 30px;
  font-family: 'Staatliches', cursive;
}

.built-with{
  font-family: 'Open Sans', sans-serif;
}

.bottom-bar{
  font-size: 35px;
  padding:25px;
  margin-top:5px;
  background-color: rgb(38, 130, 148);
  color:white;
  text-align: center; 
}

.bottom-bar a{
  color:white;
  text-decoration: none;

}


.description{
  padding-bottom: 20px;
}

.example{
  border: 1px;
  border-style:solid;
  border-color: black;
  border-radius: 10px;
  padding:1em;
  background-color: #d8d5d5;
}