.contact {
    text-align: center;
    color: white;
    height: auto; 
    width: 100%;
    background-color: #0d2b31ff;
    box-sizing: border-box;
    padding-top: 1px;
    padding-bottom: 10px;
    float: center;
    align-content: space-between; 
    font-family: "Trebuchet MS", Helvetica, sans-serif;
  }

  .contact h1 {
    float: center;
    
    font-size: 50px;
    margin-bottom: 1px;
  }

 
  .contact h3{
    
  }
  .contact h4{
    
  }