.projects {
  text-align: center;
  color: black;
  height: auto; 
  width: 100%;
  box-sizing: border-box;
  padding-top: 1px;
  padding-bottom: 10px;
  float: center;
  align-content: space-between; 
  background-image: linear-gradient(#ffffff 50%,#0d2b31ff,50%);
}

.projects h1 {
  border-color: antiquewhite;
  float: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 50px;
  margin-bottom: 1px;
}

.projects p {
  padding-top: 5px;
  font-size: 17px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

.row{
  display: flex;
  flex-wrap: wrap; 
  padding: 10px; 
}
.column1{
  flex:30%; 
  padding: 10px;
}

.column1 img{
  margin-top: 8px; 
  vertical-align: left;
}
.column2{
  flex:30%;
  padding: 10px;
}

.column2 img{
  margin-top: 8px; 
  vertical-align: middle;
  padding-bottom:20px;
}

.column2 h3{
  font-size: 30px;
  font-family: 'Staatliches', cursive;
}

.built-with{
  font-family: 'Open Sans', sans-serif;
}

.description{
  padding-bottom: 20px;
}

.example{
  border: 1px;
  border-style:solid;
  border-color: black;
  border-radius: 10px;
  padding:1em;
  background-color: #d8d5d5;
}